@import "./parciales/_variables";
@import "./parciales/_base";
@import "./parciales/_header";
@import "./parciales/_buttons";
@import "./parciales/_cards";
@import "./parciales/_sections";
@import "./parciales/_media-querys";
@import "./parciales/_animations";
@import "./parciales/_footer";
@import "./parciales/_mixins";
@import "./parciales/_listas";
@import "./parciales/_carrito";