$colorPrincipal: #579684;
$colorSecundario: #8AA678;
$tipografiaTitulos: 'Playfair Display', serif;
$tipografiaBody: 'Mulish', sans-serif;

@mixin titulos {
    color: $colorPrincipal;
    font-family: $tipografiaTitulos;
    margin-top: 22px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

@mixin combos {
        flex-direction: column;
        background-color: $colorPrincipal;
        box-shadow: 5px 10px 10px #A3BEB5;
        border-radius: 10px;
        text-align: center;
        width: 300px;
        padding: 1rem;
        margin: 0 auto;
        position: relative;
        margin-bottom: 2rem;
}